---
const { pathname } = Astro.url;
import { t, withLocale } from "../utils/i18n";
const { currentLocale } = Astro;
const locale = (currentLocale || "en") as "ru" | "en";

const links = [
    { href: withLocale(locale, `/about`), label: t(locale, "links.about") },
    { href: withLocale(locale, `/interiors`), label: t(locale, "links.interiors") },
    { href: withLocale(locale, `/before-after`), label: t(locale, "links.before-after") },
    { href: withLocale(locale, `/contact`), label: t(locale, "links.contact") },
    { href: withLocale(locale, `/press`), label: t(locale, "links.press") },
];

import LanguageSwitcher from './LanguageSwitcher.astro';
---
<header>
    <div class="container">
        <div class="logo"><a href="/" style="text-decoration: none; color: inherit;">AIGERIM<br /> AKHMETOVA</a></div>
        <div class="navigation">
            <div class="path">
                {links.map(link => (
                    <a href={link.href} class={pathname === link.href ? 'active' : ''}>
                        {link.label}
                    </a>
                ))}
            </div>
            <div class="social">
                <!-- <LanguageSwitcher /> -->
                <a href="https://www.instagram.com/aigerim.interiorstylist" target="_blank" aria-label="Instagram">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_17_27)">
                            <path d="M10 1.80078C12.6719 1.80078 12.9883 1.8125 14.0391 1.85937C15.0156 1.90234 15.543 2.06641 15.8945 2.20313C16.3594 2.38281 16.6953 2.60156 17.043 2.94922C17.3945 3.30078 17.6094 3.63281 17.7891 4.09766C17.9258 4.44922 18.0898 4.98047 18.1328 5.95313C18.1797 7.00781 18.1914 7.32422 18.1914 9.99219C18.1914 12.6641 18.1797 12.9805 18.1328 14.0313C18.0898 15.0078 17.9258 15.5352 17.7891 15.8867C17.6094 16.3516 17.3906 16.6875 17.043 17.0352C16.6914 17.3867 16.3594 17.6016 15.8945 17.7813C15.543 17.918 15.0117 18.082 14.0391 18.125C12.9844 18.1719 12.668 18.1836 10 18.1836C7.32813 18.1836 7.01172 18.1719 5.96094 18.125C4.98438 18.082 4.45703 17.918 4.10547 17.7813C3.64063 17.6016 3.30469 17.3828 2.95703 17.0352C2.60547 16.6836 2.39063 16.3516 2.21094 15.8867C2.07422 15.5352 1.91016 15.0039 1.86719 14.0313C1.82031 12.9766 1.80859 12.6602 1.80859 9.99219C1.80859 7.32031 1.82031 7.00391 1.86719 5.95313C1.91016 4.97656 2.07422 4.44922 2.21094 4.09766C2.39063 3.63281 2.60938 3.29688 2.95703 2.94922C3.30859 2.59766 3.64063 2.38281 4.10547 2.20313C4.45703 2.06641 4.98828 1.90234 5.96094 1.85937C7.01172 1.8125 7.32813 1.80078 10 1.80078ZM10 0C7.28516 0 6.94531 0.0117187 5.87891 0.0585938C4.81641 0.105469 4.08594 0.277344 3.45313 0.523437C2.79297 0.78125 2.23438 1.12109 1.67969 1.67969C1.12109 2.23438 0.78125 2.79297 0.523438 3.44922C0.277344 4.08594 0.105469 4.8125 0.0585938 5.875C0.0117188 6.94531 0 7.28516 0 10C0 12.7148 0.0117188 13.0547 0.0585938 14.1211C0.105469 15.1836 0.277344 15.9141 0.523438 16.5469C0.78125 17.207 1.12109 17.7656 1.67969 18.3203C2.23438 18.875 2.79297 19.2188 3.44922 19.4727C4.08594 19.7188 4.8125 19.8906 5.875 19.9375C6.94141 19.9844 7.28125 19.9961 9.99609 19.9961C12.7109 19.9961 13.0508 19.9844 14.1172 19.9375C15.1797 19.8906 15.9102 19.7188 16.543 19.4727C17.1992 19.2188 17.7578 18.875 18.3125 18.3203C18.8672 17.7656 19.2109 17.207 19.4648 16.5508C19.7109 15.9141 19.8828 15.1875 19.9297 14.125C19.9766 13.0586 19.9883 12.7188 19.9883 10.0039C19.9883 7.28906 19.9766 6.94922 19.9297 5.88281C19.8828 4.82031 19.7109 4.08984 19.4648 3.45703C19.2188 2.79297 18.8789 2.23438 18.3203 1.67969C17.7656 1.125 17.207 0.78125 16.5508 0.527344C15.9141 0.28125 15.1875 0.109375 14.125 0.0625C13.0547 0.0117188 12.7148 0 10 0Z" fill="#000100"/>
                            <path d="M10 4.86328C7.16406 4.86328 4.86328 7.16406 4.86328 10C4.86328 12.8359 7.16406 15.1367 10 15.1367C12.8359 15.1367 15.1367 12.8359 15.1367 10C15.1367 7.16406 12.8359 4.86328 10 4.86328ZM10 13.332C8.16016 13.332 6.66797 11.8398 6.66797 10C6.66797 8.16016 8.16016 6.66797 10 6.66797C11.8398 6.66797 13.332 8.16016 13.332 10C13.332 11.8398 11.8398 13.332 10 13.332Z" fill="#000100"/>
                            <path d="M16.5391 4.66017C16.5391 5.32424 16 5.85939 15.3398 5.85939C14.6758 5.85939 14.1406 5.32033 14.1406 4.66017C14.1406 3.99611 14.6797 3.46095 15.3398 3.46095C16 3.46095 16.5391 4.00002 16.5391 4.66017Z" fill="#000100"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_17_27">
                                <rect width="20" height="20" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
                <a href="https://www.facebook.com/profile.php?id=61574940107360" target="_blank" aria-label="Pinterest" style="transform: scale(1.4)">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.75 2.1875H6.25C3.9375 2.1875 2.1875 3.9375 2.1875 6.25V13.75C2.1875 16.0625 3.9375 17.8125 6.25 17.8125H13.75C16.0625 17.8125 17.8125 16.0625 17.8125 13.75V6.25C17.8125 3.9375 16.0625 2.1875 13.75 2.1875ZM10.3125 17.1875V11.875C10.3125 11.625 10.125 11.4375 9.875 11.4375H8.4375V9.6875H9.875C10.125 9.6875 10.3125 9.5 10.3125 9.25V6.875C10.3125 5.8125 11.0625 5.0625 12.125 5.0625H14.25V6.9375H13.125C12.625 6.9375 12.1875 7.375 12.1875 7.875V9.25C12.1875 9.5 12.375 9.6875 12.625 9.6875H14.4375V11.4375H12.625C12.375 11.4375 12.1875 11.625 12.1875 11.875V17.1875H6.25C4.625 17.1875 3.4375 16 3.4375 14.375V6.25C3.4375 4.625 4.625 3.4375 6.25 3.4375H13.75C15.375 3.4375 16.5625 4.625 16.5625 6.25V13.75C16.5625 15.375 15.375 16.5625 13.75 16.5625H13.125V11.9375H14.4375C14.6875 11.9375 14.875 11.75 14.875 11.5V9.25C14.875 9 14.6875 8.8125 14.4375 8.8125H13.125V8C13.125 7.875 13.25 7.75 13.375 7.75H14.625C14.875 7.75 15.0625 7.5625 15.0625 7.3125V5.0625C15.0625 4.8125 14.875 4.625 14.625 4.625H11.875C10.625 4.625 9.75 5.5 9.75 6.75V8.8125H8.3125C8.0625 8.8125 7.875 9 7.875 9.25V11.5C7.875 11.75 8.0625 11.9375 8.3125 11.9375H9.75V17.1875Z" fill="#000000"/>
                    </svg>
                </a>
            </div>
        </div>
        <LanguageSwitcher />

        <div class="burger" onclick="toggleMenu(this)">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
        </div>
    </div>

    <div class="mobile-menu">
            <div class="path">
                {links.map(link => (
                    <a href={link.href} class={pathname === link.href ? 'active' : ''}>
                        {link.label}
                    </a>
                ))}
            </div>
            <div class="social">
                <a href="https://www.instagram.com/aigerim.interiorstylist?igsh=MXhrNTV5cWl4ZW1ybQ==" target="_blank" aria-label="Instagram">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_17_27)">
                            <path d="M10 1.80078C12.6719 1.80078 12.9883 1.8125 14.0391 1.85937C15.0156 1.90234 15.543 2.06641 15.8945 2.20313C16.3594 2.38281 16.6953 2.60156 17.043 2.94922C17.3945 3.30078 17.6094 3.63281 17.7891 4.09766C17.9258 4.44922 18.0898 4.98047 18.1328 5.95313C18.1797 7.00781 18.1914 7.32422 18.1914 9.99219C18.1914 12.6641 18.1797 12.9805 18.1328 14.0313C18.0898 15.0078 17.9258 15.5352 17.7891 15.8867C17.6094 16.3516 17.3906 16.6875 17.043 17.0352C16.6914 17.3867 16.3594 17.6016 15.8945 17.7813C15.543 17.918 15.0117 18.082 14.0391 18.125C12.9844 18.1719 12.668 18.1836 10 18.1836C7.32813 18.1836 7.01172 18.1719 5.96094 18.125C4.98438 18.082 4.45703 17.918 4.10547 17.7813C3.64063 17.6016 3.30469 17.3828 2.95703 17.0352C2.60547 16.6836 2.39063 16.3516 2.21094 15.8867C2.07422 15.5352 1.91016 15.0039 1.86719 14.0313C1.82031 12.9766 1.80859 12.6602 1.80859 9.99219C1.80859 7.32031 1.82031 7.00391 1.86719 5.95313C1.91016 4.97656 2.07422 4.44922 2.21094 4.09766C2.39063 3.63281 2.60938 3.29688 2.95703 2.94922C3.30859 2.59766 3.64063 2.38281 4.10547 2.20313C4.45703 2.06641 4.98828 1.90234 5.96094 1.85937C7.01172 1.8125 7.32813 1.80078 10 1.80078ZM10 0C7.28516 0 6.94531 0.0117187 5.87891 0.0585938C4.81641 0.105469 4.08594 0.277344 3.45313 0.523437C2.79297 0.78125 2.23438 1.12109 1.67969 1.67969C1.12109 2.23438 0.78125 2.79297 0.523438 3.44922C0.277344 4.08594 0.105469 4.8125 0.0585938 5.875C0.0117188 6.94531 0 7.28516 0 10C0 12.7148 0.0117188 13.0547 0.0585938 14.1211C0.105469 15.1836 0.277344 15.9141 0.523438 16.5469C0.78125 17.207 1.12109 17.7656 1.67969 18.3203C2.23438 18.875 2.79297 19.2188 3.44922 19.4727C4.08594 19.7188 4.8125 19.8906 5.875 19.9375C6.94141 19.9844 7.28125 19.9961 9.99609 19.9961C12.7109 19.9961 13.0508 19.9844 14.1172 19.9375C15.1797 19.8906 15.9102 19.7188 16.543 19.4727C17.1992 19.2188 17.7578 18.875 18.3125 18.3203C18.8672 17.7656 19.2109 17.207 19.4648 16.5508C19.7109 15.9141 19.8828 15.1875 19.9297 14.125C19.9766 13.0586 19.9883 12.7188 19.9883 10.0039C19.9883 7.28906 19.9766 6.94922 19.9297 5.88281C19.8828 4.82031 19.7109 4.08984 19.4648 3.45703C19.2188 2.79297 18.8789 2.23438 18.3203 1.67969C17.7656 1.125 17.207 0.78125 16.5508 0.527344C15.9141 0.28125 15.1875 0.109375 14.125 0.0625C13.0547 0.0117188 12.7148 0 10 0Z" fill="#000100"/>
                            <path d="M10 4.86328C7.16406 4.86328 4.86328 7.16406 4.86328 10C4.86328 12.8359 7.16406 15.1367 10 15.1367C12.8359 15.1367 15.1367 12.8359 15.1367 10C15.1367 7.16406 12.8359 4.86328 10 4.86328ZM10 13.332C8.16016 13.332 6.66797 11.8398 6.66797 10C6.66797 8.16016 8.16016 6.66797 10 6.66797C11.8398 6.66797 13.332 8.16016 13.332 10C13.332 11.8398 11.8398 13.332 10 13.332Z" fill="#000100"/>
                            <path d="M16.5391 4.66017C16.5391 5.32424 16 5.85939 15.3398 5.85939C14.6758 5.85939 14.1406 5.32033 14.1406 4.66017C14.1406 3.99611 14.6797 3.46095 15.3398 3.46095C16 3.46095 16.5391 4.00002 16.5391 4.66017Z" fill="#000100"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_17_27">
                                <rect width="20" height="20" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
                
                <a href="https://www.facebook.com/profile.php?id=61574940107360" target="_blank" aria-label="Pinterest" style="transform: scale(1.4)">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.75 2.1875H6.25C3.9375 2.1875 2.1875 3.9375 2.1875 6.25V13.75C2.1875 16.0625 3.9375 17.8125 6.25 17.8125H13.75C16.0625 17.8125 17.8125 16.0625 17.8125 13.75V6.25C17.8125 3.9375 16.0625 2.1875 13.75 2.1875ZM10.3125 17.1875V11.875C10.3125 11.625 10.125 11.4375 9.875 11.4375H8.4375V9.6875H9.875C10.125 9.6875 10.3125 9.5 10.3125 9.25V6.875C10.3125 5.8125 11.0625 5.0625 12.125 5.0625H14.25V6.9375H13.125C12.625 6.9375 12.1875 7.375 12.1875 7.875V9.25C12.1875 9.5 12.375 9.6875 12.625 9.6875H14.4375V11.4375H12.625C12.375 11.4375 12.1875 11.625 12.1875 11.875V17.1875H6.25C4.625 17.1875 3.4375 16 3.4375 14.375V6.25C3.4375 4.625 4.625 3.4375 6.25 3.4375H13.75C15.375 3.4375 16.5625 4.625 16.5625 6.25V13.75C16.5625 15.375 15.375 16.5625 13.75 16.5625H13.125V11.9375H14.4375C14.6875 11.9375 14.875 11.75 14.875 11.5V9.25C14.875 9 14.6875 8.8125 14.4375 8.8125H13.125V8C13.125 7.875 13.25 7.75 13.375 7.75H14.625C14.875 7.75 15.0625 7.5625 15.0625 7.3125V5.0625C15.0625 4.8125 14.875 4.625 14.625 4.625H11.875C10.625 4.625 9.75 5.5 9.75 6.75V8.8125H8.3125C8.0625 8.8125 7.875 9 7.875 9.25V11.5C7.875 11.75 8.0625 11.9375 8.3125 11.9375H9.75V17.1875Z" fill="#000000"/>
                    </svg>
                </a>
            </div>
        </div>
    <script is:inline>
        function toggleMenu(burger) {
            burger.classList.toggle('open');
            document.querySelector('.mobile-menu').classList.toggle('open');
        }
    </script>
</header>

<style>
    header {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        transition: background-color 0.3s ease;
        margin: 0;
        height: 90px;
    }

    .container {
        padding: 25px clamp(16px, 4vw, 40px);
        max-width: 1800px;
        /* width: 100%; */
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 20px;
    }

    .logo {
        font-size: 1.5rem;
        font-weight: 900;
    }

    .navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .navigation a {
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        transition: opacity 0.2s ease;
    }

    .navigation a.active {
        /* color: #848579; */
        font-weight: bolder;
    }

    .navigation a:hover {
        opacity: 0.7;
    }

    .path {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .social a {
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-left: 1rem; */
    }

    .mobile-menu {
        width: 100%;
        height: 100vh;
        position: fixed;
        inset: 0;
        background: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-100%);
        transition: transform 0.4s ease;
        z-index: 1000;
        gap: 1.5rem;
        font-size: 1.5rem;
        opacity: 0;
        pointer-events: none;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .mobile-menu.open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }

    .mobile-menu a {
        opacity: 0;
        transform: translateY(10px);
        text-decoration: none;
        color: inherit;
        animation: fadeSlideIn 0.4s forwards;
    }

    .burger {
        display: none;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;
        z-index: 1100;
    }

    .burger div {
        width: 24px;
        height: 2px;
        background: currentColor;
        transition: all 0.3s ease;
    }

    .burger.open .top {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger.open .middle {
        opacity: 0;
    }

    .burger.open .bottom {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .mobile-menu.open a:nth-child(1) { animation-delay: 0.1s; }
    .mobile-menu.open a:nth-child(2) { animation-delay: 0.2s; }
    .mobile-menu.open a:nth-child(3) { animation-delay: 0.3s; }
    .mobile-menu.open a:nth-child(4) { animation-delay: 0.4s; }
    .mobile-menu.open a:nth-child(5) { animation-delay: 0.5s; }
    .mobile-menu.open a:nth-child(6) { animation-delay: 0.6s; }
    .mobile-menu.open a:nth-child(7) { animation-delay: 0.7s; }
    .mobile-menu.open a:nth-child(8) { animation-delay: 0.8s; }
    .mobile-menu.open a:nth-child(9) { animation-delay: 0.9s; }

    @keyframes fadeSlideIn {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @media (max-width: 960px) {
        .navigation {
            display: none;
        }
        .burger {
            display: flex;
        }

        .path {
            display: flex;
            align-items: center;
            gap: 1rem;
            flex-direction: column;
        }

        .container {
            justify-content: space-between;
        }
    }
</style>
